#view {
  min-width: min(30rem, 100vw - 8rem);
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  animation: fade-in 500ms;
}

.buttons > * {
  flex-grow: 1;
}

#file {
  width: 100%;
}

.controls {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  gap: 0.75rem;
  margin-top: 1.2rem;
  align-items: center;
}

.range-group {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.range-group > slider-control {
  flex-grow: 1;
}

.range-button {
  padding-inline: 0;
  border: none;
  line-height: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: transparent;
  color: #45f;
  cursor: pointer;
  transition: 150ms;
  transition-property: background, color;
}

.range-button:is(:hover, :focus-visible) {
  background: #fff3;
  outline: none;
}

.range-button:active {
  background: #45f;
  color: black;
}

.range-button > svg {
  width: 1rem;
  height: 1rem;
}
