/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src:
    url('/static/fonts/jetbrains-mono-v13-latin-regular.woff2') format('woff2'),
    url('/static/fonts/jetbrains-mono-v13-latin-regular.woff') format('woff');
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('/static/fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
    url('/static/fonts/open-sans-v34-latin-regular.woff') format('woff');
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('/static/fonts/open-sans-v34-latin-700.woff2') format('woff2'),
    url('/static/fonts/open-sans-v34-latin-700.woff') format('woff');
}
