h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

main {
    min-width: 30rem;
}

#view:not(.authenticated) > .auth {
    display: none;
}

#view.authenticated > .no-auth {
    display: none;
}

.links {
    margin-top: 2rem;
}

.icon-link {
    background: transparent;
    color: #eee;
    padding: 1rem;
    transform: none;
    transition: color 150ms;
}

.icon-link:is(:hover, :focus-visible) {
    color: #45f;
    outline: none;
}

.icon-link > svg {
    width: 2rem;
}
