<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Audio File</title>
    <meta name="og:title" content="Audio File Viewer" />
    <style>
      body {
        background: #121212;
        color: #eee;
      }
    </style>
    <link rel="stylesheet" href="/static/common.css" />
    <link rel="stylesheet" href="/static/pages/audio/audio.css" />
    <script async type="module" src="/static/controls/audio-control.js"></script>
    <script async type="module" src="/static/controls/slider-control.js"></script>
    <script async type="module" src="/static/controls/checkbox-control.js"></script>
    <script async type="module" src="/static/pages/audio/audio.js"></script>
  </head>
  <body>
    <div class="bg-wrap">
      <main id="view">
        <div class="buttons">
          <button class="icon-button" id="download">
            Download
            <svg viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M2 12H4V17H20V12H22V17C22 18.11 21.11 19 20 19H4C2.9 19 2 18.11 2 17V12M12 15L17.55 9.54L16.13 8.13L13 11.25V2H11V11.25L7.88 8.13L6.46 9.55L12 15Z"
              />
            </svg>
          </button>
          <button class="icon-button" id="copy-url">
            Copy URL
            <svg viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
              />
            </svg>
          </button>
        </div>
        <audio-control id="file" src="{{file}}"></audio-control>
        <noscript>
          <audio id="file" src="{{file}}" controls autoplay></audio>
          <style>
            .controls,
            .buttons {
              display: none;
            }
          </style>
        </noscript>

        <div class="controls">
          <label for="volume">Volume <span id="volume-lbl">100%</span></label>
          <div class="range-group">
            <slider-control
              min="0"
              max="1"
              small-change="0.01"
              value="1"
              id="volume"
            ></slider-control>
            <button class="range-button" id="reset-volume">
              <svg viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M12.5,8C9.85,8 7.45,9 5.6,10.6L2,7V16H11L7.38,12.38C8.77,11.22 10.54,10.5 12.5,10.5C16.04,10.5 19.05,12.81 20.1,16L22.47,15.22C21.08,11.03 17.15,8 12.5,8Z"
                />
              </svg>
            </button>
          </div>
          <label for="playback-speed">Playback Speed <span id="playback-speed-lbl">1x</span></label>
          <div class="range-group">
            <slider-control
              min="0.1"
              max="3"
              small-change="0.1"
              value="1"
              id="playback-speed"
            ></slider-control>
            <button class="range-button" id="reset-playback-speed">
              <svg viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M12.5,8C9.85,8 7.45,9 5.6,10.6L2,7V16H11L7.38,12.38C8.77,11.22 10.54,10.5 12.5,10.5C16.04,10.5 19.05,12.81 20.1,16L22.47,15.22C21.08,11.03 17.15,8 12.5,8Z"
                />
              </svg>
            </button>
          </div>
          <label for="preserve-pitch">Preserve Pitch</label>
          <checkbox-control checked id="preserve-pitch"></checkbox-control>
        </div>
      </main>
    </div>
  </body>
</html>
